html,body{
    background: #212322;
    color: white;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 20px;
}

button{
    font-size: 1.2rem;
    padding: 5px;
    margin-right: 10px;
}